*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

@mixin inputing {
    background-color:rgb(35, 35, 51) ;
    padding:6px;
    border-radius:10px;
    border:1px solid rgb(58, 58, 85);
    outline: none;
    color: whitesmoke;
}

  .linkTitle{
        color: coral;
        font-size:1.6rem;
        text-decoration: none;
    }
nav{
    width:100%;
    padding:10px;
    background-color: rgb(20, 20, 29);
    display: flex;
    flex-flow: row wrap;
}
.navbar-web{
    width:90%;
    display: flex;
    flex-flow: row wrap;
    >ul{
        width:40%;
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        >li{
           > a{
                        text-decoration: none;
                        color: whitesmoke;
                        padding:20px;
                    }

        } 
    }
input{
@include inputing();
width:300px;
}

 ::-webkit-search-cancel-button{
        display: none;
    }


}


.user-account{
    display: flex;
    flex-direction: row;
    >ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        >li {
            color: whitesmoke;
            padding:10px;
               >a{
                            color: whitesmoke;
                            text-decoration: none;
                            padding:10px;
                        }
        }
        
    }
    
}

.logout{
    background-color: orangered;
    border: none;
    outline: none;
    padding:10px;
    color: white;
    border-radius:20px;
    cursor: pointer;
    &:hover{
        background-color: orange;
    }
}






.navbar-mobile{
    border-radius:10px;
    background-color: rgb(236, 236, 236);
    width:100%;
    padding:10px;
    position: absolute;
    left:0px;
    top:50px;
    display:none;
    ul{
        width:100%;
        list-style:none;
        padding:10px;
     li a{
         text-decoration: none;
         color: black;
         padding:10px;
         display: block;
         &:hover{
             background-color: rgb(255, 255, 255);
         }
     }  
    }


input{
    @include inputing();
    width:100%;
}

}
.menu{
    width:50%;
    text-align: end;
    button{
        padding:5px;
        color: whitesmoke;
        background-color: transparent;
        border: none;
    }
    display: none;
}
@media screen and (max-width:1000px) {

.menu{
    display: block;
}
.navbar-web {
    display:none;
}



}

.message{
    background-color: red;
    color: white;
    border-radius:20px;
}

.subMenuBar{
position: relative;


button{
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    text-transform: capitalize;
    cursor: pointer;
}
}

.dropDown{
padding:10px 5px;
width:400px;
height:500px;
overflow-y: scroll;
background-color:rgb(255, 255, 255); 
list-style: none;
li{
    color: black;
    display:block;
    background-color: lightgray;
    padding:5px;
    margin:4px 0px;
    border-radius:20px;
    cursor: pointer;
    transition:.5s ease-out;
    display: flex;
    justify-content: space-between;
    &:hover{
        background-color: rgb(194, 194, 194);
    }
    >span{
        font-weight: bold;
        color: gray;
        font-style: italic;
    }
} 
}

.MenuNotificationsDiv{
    z-index:10;
    position: absolute;
    top:60px;
    right:5px;
    transition:1s ease-in-out;
    overflow: hidden;
    height:0px;
}