*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.id-outlet{
    background-color: whitesmoke;
}

footer{
    width:100%;
    height:200px;
    background-color: rgb(20, 20, 29);
    color: whitesmoke;
    font-family:monospace;
    letter-spacing:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}